BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2
TabWidth: 2
PointerAlignment: Left
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
AccessModifierOffset: -2
NamespaceIndentation: All
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: false
IndentPPDirectives: AfterHash
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach

# One arg per line
BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false

SortIncludes: true
IncludeBlocks: Merge
IncludeCategories:
  # Headers in "" with extension. Internal includes.
  - Regex:           '"([A-Za-z0-9.\Q/-_\E])+"'
    Priority:        1
  # Headers in <> from this project. Probably exported headers.
  - Regex:           '<(tribo)\/'
    Priority:        2
  # Headers in <> with extension. Probably external libraries. Or C standard lib headers.
  - Regex:           '<([A-Za-z0-9.\Q/-_\E])+>'
    Priority:        3
  # Headers in <> without extension. Probably C++ standard lib headers.
  - Regex:           '<([A-Za-z0-9\Q/-_\E])+>'
    Priority:        4
