WarningsAsErrors: "*"
FormatStyle: "file"

Checks: "-*,
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  cert-*,
  clang-analyzer-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length"

CheckOptions:
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.EnumConstantCase: UPPER_CASE
  readability-identifier-naming.GlobalVariableCase: UPPER_CASE
  readability-identifier-naming.NamespaceCase: lower_case
