BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2
TabWidth: 2
PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Right
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
AccessModifierOffset: -2
NamespaceIndentation: All
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: false
IndentPPDirectives: AfterHash
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
LineEnding: LF

# At new line at end of file
InsertNewlineAtEOF: true
KeepEmptyLinesAtEOF: true

# One arg per line
BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false

SortIncludes: true
IncludeBlocks: Merge
IncludeCategories:
  # Headers in "" with extension. Internal includes.
  - Regex: '"([A-Za-z0-9.\Q/-_\E])+"'
    Priority: 1
  # Headers in <> with extension. Probably external libraries. Or C++ standard lib headers.
  - Regex: '<([A-Za-z0-9.\Q/-_\E])+>'
    Priority: 2
