[submodule "external/premake-core"]
	path = external/premake-core
	url = https://github.com/premake/premake-core.git
	shallow = true
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
	shallow = true
[submodule "external/benchmark"]
	path = external/benchmark
	url = https://github.com/google/benchmark.git
	shallow = true
